<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Create List</title>
</head>
<body>
<form th:method="GET"  th:action="@{/engine/create}">
    <input type="submit" value="ДОБАВИТЬ НОВЫЙ ДВИГАТЕЛЬ">
</form>
<br/>
<form th:method="GET"  th:action="@{/wheels/create}">
    <input type="submit" value="ДОБАВИТЬ НОВЫЕ КОЛЁСА">
</form>
<br/>
<form th:method="GET"  th:action="@{/transmission/create}">
    <input type="submit" value="ДОБАВИТЬ НОВУЮ ТРАНСМИССИЮ">
</form>
<br/>
<form th:method="GET"  th:action="@{/otherOption/create}">
    <input type="submit" value="ДОБАВИТЬ ДОП. ОПЦИЮ">
</form>
</body>
</html>