<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars List</title>
    <link rel="stylesheet" th:href="@{/css/main_style.css}"/>
</head>
<ul>
    <h1>Список готовых сборок автомобилей: </h1>
    </br>
<form th:method="POST" th:each ="car : ${cars}" th:action="@{/cars/delete/{id}(id=${car.getId()})}">
    <div th:utext="${car.id}"></div>
    <br>
    <div th:utext="${car.brand}"></div>
    <br>
    <div th:utext="${car.wheels.description}"></div>
    <br>
    <div th:utext="${car.transmission.description}"></div>
    <br>
    <div th:utext="${car.engine.description}"></div>
    <p><b>Дополнительная комплектация автомобиля:</b></p>
    <p>=============================</p>
    <th:block th:each="option : ${car.otherOption}">
        <div th:utext="${option.description}"></div>
        <p>=============================</p>
    </th:block>
    <b><a th:href="@{/cars/edit/{id}(id=${car.getId()})}">Изменить комплектацию</a></b>
    <br><br>
    <input type="submit" value="Удалить комплектацию!">
    <p>**************************************</p>
</form>
</ul>
</body>
</html>