<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<form th:action="@{/cars/create}" th:method="post" th:object="${car}">
    <label for="brand">Марка:</label>
        <input type="text" id="brand" th:field="*{brand}">
    <br>
    <label for="wheels">Колёса:</label>
    <select th:field="*{wheels_id}" id="wheels">
        <option th:each="wh : ${wheelsModel}" th:value="${wh.getId()}" th:text="${wh.description}"></option>
    </select>
    <br>
    <label for="transmission">Трансмиссия:</label>
    <select th:field="*{transmission_id}" id="transmission">
        <option th:each="trans : ${transmissionsModel}" th:value="${trans.getId()}" th:text="${trans.description}"></option>
    </select>
    <br>
    <label for="engine">Двигатель:</label>
    <select th:field="*{engine_id}" id="engine">
        <option th:each="eng : ${enginesModel}" th:value="${eng.getId()}" th:text="${eng.description}"></option>
    </select>
    <br>
    <tr th:each="model : ${otherOptionModel}">
    <label for="otherOption">Доп. компоненты:</label>
    <select th:field="*{otherOptions}" id="otherOption">
        <option th:each="oom : ${otherOptionModel}" th:value="${oom.getId()}" th:text="${oom.description}"></option>
    </select>
    <br>
    </tr>
        <input type="submit" value="Сохранить комплектацию!"/>
</form>
</body>
</html>