<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Engine Create</title>
    <link rel="stylesheet" th:href="@{/css/main_style.css}"/>
</head>
<body>
<div class="center">
    <h1>Создание нового двигателя: </h1>
    </br>
<form th:action="@{/engine/create}" th:method="post" th:object="${engine}">
    <label for="description">Описание:</label>
    <input type="text" id="description" th:field="*{description}">
    <br/>
    <label for="price">Цена:</label>
    <input type="text" id="price" th:field="*{price}">
    <br/>
    <label for="power">Мощность двигателя:</label>
    <input type="text" id="power" th:field="*{power}">
    <br/>
    <input type="submit" value="Сохранить комплектацию!"/>
</form>
</div>
</body>
</html>