<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Update Engine</title>
</head>
<body>
<form th:method="POST" th:action="@{/engine/update/{id}(id=${engine.getId()})}" th:object ="${engine}">
    <label for="description">Описание:</label>
    <input type="text" id="description" th:field="*{description}">
    <br/>
    <label for="price">Цена:</label>
    <input type="text" id="price" th:field="*{price}">
    <br/>
    <label for="power">Мощность двигателя:</label>
    <input type="text" id="power" th:field="*{power}">
    <br/>
    <input type="submit" value="Обновить двигатель!"/>
</form>
</body>
</html>