<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/main_style.css}"/>
</head>
<body>
<div class="center">
  <h1>Создание дополнительных опций: </h1>
  </br>
<form th:action="@{/otherOption/create}" th:method="post" th:object="${otherOption}">
  <label for="name">Название опции: </label>
  <input type="text" id="name" th:field="*{name}">
  <br/>
  <label for="description">Описание: </label>
  <input type="text" id="description" th:field="*{description}">
  <br/>
  <label for="price">Цена:</label>
  <input type="text" id="price" th:field="*{price}">
  <br/>
  <input type="submit" value="Сохранить комплектацию!"/>
</form>
</div>
</body>
</html>