<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Other Options List</title>
    <link rel="stylesheet" th:href="@{/css/main_style.css}"/>
</head>
<body>
<form th:method="POST" th:each ="otherOption : ${otherOptions}" th:action="@{/otherOption/delete/{id}(id=${otherOption.getId()})}">
    <label for="ID">ID: </label>
    <li th:utext="${otherOption.id}" id ="ID"></li>
    <br/>
    <label for="name">Название опции: </label>
    <li th:utext="${otherOption.name}" id ="name"></li>
    <p>***************</p>
    <label for="description">Описание: </label>
    <li th:utext="${otherOption.description}" id="description"></li>
    <p>***************</p>
    <label for="price">Цена: </label>
    <li th:utext="${otherOption.price}" id="price"></li>
    <br/>
    <b><a th:href="@{/otherOption/update/{id}(id=${otherOption.getId()})}">Изменить опцию</a></b>
    <br/><br/>
    <input type="submit" value="Удалить опцию!">
    <p>-------------------------------------------------------</p>
</form>
</body>
</html>