<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Update Transmission</title>
    <link rel="stylesheet" th:href="@{/css/main_style.css}"/>
</head>
<body>
<div class="center">
    <h1>Редактирование созданной трансмиссии: </h1>
    </br>
<form th:method="POST" th:action="@{/transmission/update/{id}(id=${transmission.getId()})}" th:object ="${transmission}">
    <label for="description">Описание:</label>
    <input type="text" id="description" th:field="*{description}">
    <br/>
    <label for="price">Цена:</label>
    <input type="text" id="price" th:field="*{price}">
    <br/>
    <input type="submit" value="Обновить двигатель!"/>
</form>
</div>
</body>
</html>